pandas
numpy
scipy
opencv-python-headless==4.5.2.52
opencv-python==4.5.2.52
pyyaml
yacs
flask
pafy
imutils
youtube_dl
easydict

loguru
scikit-image
tqdm
# torchvision>=0.10.0
Pillow
thop
ninja
tabulate
# tensorboard
# lap
motmetrics
filterpy
h5py

jupyter
